<template>
    <v-select
            :items="chartTypes"
            label="Sélectionnez le type de graphique"
            :rules="rules"
            v-on:change="updateValue"
    >
        <template v-slot:selection="data">
            <template>
                <v-list-item-icon class="ml-2">
                    <img :src="getChartTypeSelectedIcon(data.item)" alt=""/>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{data.item}}</v-list-item-title>
                </v-list-item-content>
            </template>
        </template>
        <template v-slot:item="data">
            <template >
                <v-list-item-icon>
                    <img :src="getChartTypeUnselectedIcon(data.item)" alt=""/>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{data.item}}</v-list-item-title>
                </v-list-item-content>
            </template>
        </template>
    </v-select>
</template>

<script>
    import {ChartTypeUtil} from "../../utils/models/ChartType";

    export default {
        name: "chartTypeSelect",
        props: {
            rules: {
                type: Array,
                required: true
            },
            chartTypes: {
                type: Array,
                required: true
            }
        },
        methods: {
            updateValue: function (value) {
                this.$emit('chartType', value)
            },

            getChartTypeUnselectedIcon(chartType) {
                return ChartTypeUtil.getUnselectedIcon(chartType);
            },

            getChartTypeSelectedIcon(chartType) {
                return ChartTypeUtil.getSelectedIcon(chartType);
            },
        }
    }
</script>

<style scoped>
    .v-list-item__content{
        overflow: visible!important;
    }
    .v-list-item__icon{
        display: block!important;
    }
</style>
