<template>
    <v-navigation-drawer align="center"
            v-model="drawer"
            :mini-variant.sync="minivariant"
            mini-variant-width="75"
            right
            width="500"
            class="underNavBar"
            dark absolute
            app
    >
        <v-list>
            <v-list-item @click="minivariant = !minivariant">
                <v-list-item-icon>
                    <v-icon v-show="!minivariant">arrow_forward_ios</v-icon>
                    <v-icon class="ml-8">insert_chart</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title class="title">
                        Assistant de création d'analyse</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-stepper vertical v-model="activeStep" class="mx-8" v-show="!minivariant">
            <v-stepper-step editable step="1" :complete="stepOneCompleted">
                Type de représentation et axe X
            </v-stepper-step>
            <v-stepper-content step="1">
                <chart-type-select v-if="chartTypes.length > 0" :rules="rules" :chart-types="chartTypes" @chartType="receiveChartType"></chart-type-select>
                <v-switch class="pl-3" v-if="selectedChartType !== line && selectedChartType !== null" v-model="useColumnsAsXAxis" label="Utilisez les colonnes comme référentiel ?" color="primary" v-on:change="setDoStat"></v-switch>
                <x-axis-select v-if="Object.keys(xAxes).length > 0" :x-axes="xAxes" :rules="rules" @xAxis="receiveXAxis"></x-axis-select>
                <v-switch class="pl-3" v-if="!useColumnsAsXAxis && selectedChartType !== line" v-model="doSort" label="Voulez-vous trier l'axe X par ordre croissant ?" color="primary"></v-switch>
                <v-btn
                        v-show="!hasBeenValidatedOnce"
                        color="primary"
                        @click="activeStep++"
                        :disabled="!stepOneCompleted"
                >
                    Suivant
                </v-btn>
            </v-stepper-content>
            <v-stepper-step editable step="2" :complete="stepTwoCompleted">
                Filtres et options
            </v-stepper-step>
            <v-stepper-content step="2">
                <v-switch class="pl-3" v-if="!useColumnsAsXAxis" v-model="doStats" label="Voulez-vous faire des statistiques ?" color="primary"></v-switch>
                <stats-select v-if="useColumnsAsXAxis" :rules="rules" @stat="receiveStat"></stats-select>
                <v-switch v-if="dateExists" class="pl-3" v-model="useDate" label="Voulez-vous filtrer par date ?" color="primary"></v-switch>
                <date-picker v-if="useDate" :dateColumns="dateColumns" :rules="rules" @dateFilter="receiveDateFilters"></date-picker>
                <v-btn
                        color="primary"
                        @click="activeStep++"
                        :disabled="!stepTwoCompleted"
                        v-show="!hasBeenValidatedOnce"
                >
                    Suivant
                </v-btn>
                <v-btn text @click="activeStep--" v-show="!hasBeenValidatedOnce">Précedent</v-btn>
            </v-stepper-content>
            <v-stepper-step editable step="3" :complete="stepThreeCompleted">
                Axes Y
            </v-stepper-step>
            <v-stepper-content step="3">
                <template v-if="Object.getOwnPropertyNames(this.yAxes).length > 1">
                    <y-axis-select v-for="i in numberOfYAxes"  :key="i" :y-axes="yAxes" :rules="rules" :doStats="!useColumnsAsXAxis && doStats" :index=i @yAxis="receiveYAxis" @removeAt="removeYAxisAt"></y-axis-select>
                </template>
                <div class="my-2">
                    <v-btn v-show="numberOfYAxes.length < 4" small color="primary" @click="numberOfYAxes.push(numberOfYAxes.length)">Ajouter une donnée</v-btn>
                </div>
                <v-btn
                        color="primary"
                        @click="activeStep++"
                        :disabled="!stepThreeCompleted"
                        v-show="!hasBeenValidatedOnce"
                >
                    Suivant
                </v-btn>
                <v-btn text @click="activeStep--" v-show="!hasBeenValidatedOnce">Précedent</v-btn>
            </v-stepper-content>
            <v-stepper-step editable step="4" :complete="stepFourCompleted">
                Thème couleur
            </v-stepper-step>
            <v-stepper-content step="4">
                <colors-picker :rules="rules" @colors="receiveColors"></colors-picker>
                <v-btn v-show="!hasBeenValidatedOnce" text @click="activeStep--">Précedent</v-btn>
            </v-stepper-content>
        </v-stepper>
        <v-btn
                v-show="!minivariant"
                class="ml-12"
                color="primary"
                :disabled="!stepOneCompleted || !stepTwoCompleted || !stepThreeCompleted || !stepFourCompleted"
                @click="prepareAndSendDataToParent"
        >
            Valider
        </v-btn>
    </v-navigation-drawer>
</template>

<script>
    import {ChartType} from "../../utils/models/ChartType";
    import {Analyse} from "../../utils/models/Analyse";
    import {BodyDataset, Stats, StatsColumn} from "../../utils/models/DataRequestBody";
    import ColorsPicker from "../commons/ColorsPicker";
    import DatePicker from "../commons/DatePicker";
    import ChartTypeSelect from "./chartTypeSelect";
    import Api from "../../utils/Api";
    import XAxisSelect from "./XAxisSelect";
    import YAxisSelect from "./YAxisSelect";
    import {AnalyseColumn} from "../../utils/models/AnalyseColumn";
    import StatsSelect from "./StatsSelect";
    import {ColorTheme} from "../../utils/ColorUtils";
    import DateFilter from "../commons/DatePicker"

    export default {
        name: "CreateChartDrawer",
        components: {StatsSelect, YAxisSelect, XAxisSelect, ChartTypeSelect, DatePicker, ColorsPicker},
        props: {
            drawer: {
                type: Boolean,
                required: true
            },
            datasets: {
                type: Array,
                required: true
            }
        },
        data: () => {
            return {
                activeStep: 1,
                rules: [
                    value => !!value || 'Champ obligatoire'
                ],
                api: Api.getInstance(),
                line: ChartType.line,
                chartTypes: [],
                xAxes: {},
                yAxes: {},
                dateColumns: [],
                dateExists: false,
                useColumnsAsXAxis: false,
                doSort: false,
                doStats: false,
                useDate: false,
                numberOfYAxes: [0],
                selectedChartType: null,
                selectedXAxis: {dataset: "", column: ""},
                selectedYAxes: [],
                analyse: new Analyse(),
                selectedColorTheme: null,
                dateFilters: DateFilter,
                stat: null,
                loaded: false,
                minivariant: false,
                hasBeenValidatedOnce: false
            }
        },
        mounted() {
            this.$nextTick(() => {
                this.loadDatasetsAndRepresentationTypes();
            })
        },

        computed: {
            stepOneCompleted: function() {
                return this.selectedChartType != null && this.selectedXAxis.dataset !== "" && this.selectedXAxis.column !== "";
            },
            stepTwoCompleted: function() {
                return true;
                //return this.useDate && this.dateFilters.dateCol || this.doStats && this.stat || !this.doStats || !this.useDate;
            },
            stepThreeCompleted: function() {
                return this.selectedYAxes.length === this.numberOfYAxes.length;
            },
            stepFourCompleted: function() {
                return this.selectedColorTheme != null;
            }
        },
        methods: {
            loadDatasetsAndRepresentationTypes() {
                if(this.datasets.length > 0) {
                    this.loadDatasetsAndSortIntoXAndYAxes();
                    this.loadDatasetRepresentationsIfOneDatasetElseLoadAllRepresentations();
                }
            },


            loadDatasetsAndSortIntoXAndYAxes() {
                this.datasets.forEach(dataset => {
                    this.api.getColumnsFromDataset(dataset).then((columns) => {
                        if (columns != null) {
                            this.$set(this.xAxes, dataset.databaseName, []);
                            this.$set(this.yAxes, dataset.databaseName, []);
                            this.$set(this.dateColumns, dataset.databaseName, []);
                            columns.forEach((column) => {
                                if (column[2] === 1) {
                                    this.$set(this.xAxes[dataset.databaseName], this.xAxes[dataset.databaseName].length, column[0]);
                                }
                                if (column[1] === 'long' || column[1] === 'float') {
                                    this.$set(this.yAxes[dataset.databaseName], this.yAxes[dataset.databaseName].length, column[0]);
                                } else if (column[1] === 'date') {
                                    this.dateExists = true;
                                    this.$set(this.dateColumns[dataset.databaseName], this.dateColumns[dataset.databaseName].length, column[0]);
                                }
                            });
                            if(this.dateColumns[dataset.databaseName].length === 0) {
                                delete this.dateColumns[dataset.databaseName];
                            }
                        }
                    });
                });
            },

            loadDatasetRepresentationsIfOneDatasetElseLoadAllRepresentations() {
                if(this.datasets.length < 1) {
                    this.api.getDatasetRepresentations(this.datasets[0].id).then(representations => {
                        this.chartTypes = representations;
                    })
                }
                if(this.datasets.length > 1 || this.chartTypes.length === 0) {
                    this.api.getAllRepresentations().then(representations => {
                        this.chartTypes = representations;
                    })
                }
            },

            prepareAndSendDataToParent() {
                this.hasBeenValidatedOnce = true;
                this.analyse = new Analyse();
                this.analyse.representation_type = this.selectedChartType;
                this.analyse.body.stats = new Stats(); // Init at false
                this.analyse.body.joining = [];
                this.analyse.body.stats.do_stats = this.doStats;
                this.analyse.isStats = this.doStats;
                this.analyse.isMap = false;
                this.analyse.usage = "";

                let columns = {};
                let yColumnsNames = [];
                this.numberOfYAxes.forEach((value, i)=> {
                    const item = this.selectedYAxes[i];
                    const filtered = this.selectedYAxes.filter((value) => value.dataset === item['dataset']);
                    yColumnsNames[item['dataset']] = filtered.map((value) => {
                        let columnValue;
                        if(this.doStats && !this.useColumnsAsXAxis) {
                            columnValue = [value['column'], {axis: 'y', statType: [value['stat']]}];
                        } else if (this.useColumnsAsXAxis) {
                            columnValue = [value['column'], {axis: 'y', statType: [this.stat]}];
                        } else {
                            columnValue = [value['column'], {axis: 'y'}];
                        }
                        return columnValue;
                    });
                    filtered.map((value) => value['column']).forEach(element => {
                        if (!columns[item['dataset']]) {
                            columns[item['dataset']] = [];
                        }
                        if (columns[item['dataset']].indexOf(element) === -1) {
                            columns[item['dataset']].push(element);
                        }
                    });
                });

                if (Object.keys(columns).indexOf(this.selectedXAxis.dataset) === -1) {
                    columns[this.selectedXAxis.dataset] = [];
                }
                if (columns[this.selectedXAxis.dataset].indexOf(this.selectedXAxis.column) === -1) {
                    columns[this.selectedXAxis.dataset].push(this.selectedXAxis.column);
                }
                if (this.useDate && Object.keys(columns).indexOf(this.dateFilters.dateCol.dataset) === -1) {
                    columns[this.dateFilters.dateCol.dataset] = [];
                }
                if (this.useDate && columns[this.dateFilters.dateCol.dataset].indexOf(this.dateFilters.dateCol.column) === -1) {
                    columns[this.dateFilters.dateCol.dataset].push(this.dateFilters.dateCol.column);
                }

                this.analyse.body.datasets = [];
                Object.keys(columns).forEach((key) => {
                    const dataset = new BodyDataset();
                    dataset.name = key;
                    dataset.columns = columns[key];
                    dataset.size = 300000;
                    dataset.offset = 0;
                    if (this.useDate && columns[key].indexOf(this.dateFilters.dateCol.column) > 0) {
                        dataset.date_col = this.dateFilters.dateCol.column;
                        dataset.start_date = this.dateFilters.dates[0];
                        dataset.end_date = this.dateFilters.dates[1];
                        dataset.start_minute = this.dateFilters.startHour;
                        dataset.end_minute = this.dateFilters.endHour;
                        dataset.weekdays = this.dateFilters.weekdays;
                    }
                    this.analyse.body.datasets.push(dataset);
                });
                const yColumnsNamesMerged = [];
                this.analyse.analysis_column = [];
                Object.keys(yColumnsNames).forEach(key => {
                    yColumnsNames[key].forEach(column => {
                        yColumnsNamesMerged.push(column[0]);
                        const analyseColumn = new AnalyseColumn();
                        analyseColumn.databaseName = key;
                        analyseColumn.field = column[0];
                        analyseColumn.usage = JSON.stringify(column[1]);
                        this.analyse.analysis_column.push(analyseColumn);
                    });
                });

                if (this.doStats) {
                    this.analyse.body.stats.columns = new StatsColumn();
                    this.analyse.body.stats.columns.data = yColumnsNamesMerged.filter((value, index, array) => array.indexOf(value) === index);
                    this.analyse.body.stats.columns.pivot = this.selectedXAxis.column;
                    /*
                    if (this.isXColumnDateField()) {
                        this.analyse.body.stats.columns.step = this.step;
                    }
                    this.analyse.body.stats.columns.isDate = this.isXColumnDateField();
                     */
                }

                if(!this.doColumnSort) {
                    const analyseColumn = new AnalyseColumn();
                    analyseColumn.databaseName = this.selectedXAxis.dataset;
                    analyseColumn.field = this.selectedXAxis.column;
                    analyseColumn.usage = JSON.stringify({axis: "x"});
                    this.analyse.analysis_column.push(analyseColumn);
                }
                this.analyse.usage = JSON.stringify({doColumnSort: this.useColumnsAsXAxis, doSort: this.doSort, colorTheme: this.selectedColorTheme.name});
                this.sendChartDataToParent();
            },

            setDoStat() {
                this.doStats = this.useColumnsAsXAxis;
            },

            sendChartDataToParent() {
                this.$emit('submitForm', this.analyse)
            },

            receiveStat(stat) {
                this.stat = stat.stat;
            },

            receiveXAxis(xAxis) {
                this.selectedXAxis = xAxis;
            },

            receiveYAxis(yAxisData) {
                this.$set(this.selectedYAxes, yAxisData.index, yAxisData.yAxis);
            },

            removeYAxisAt(index) {
                this.numberOfYAxes.splice(index, 1);
                this.selectedYAxes.splice(index, 1);
            },

            receiveChartType(chartType) {
                this.selectedChartType = chartType;
                if (this.selectedChartType === ChartType.line) {
                    this.useColumnsAsXAxis = false;
                }
            },

            receiveColors(colors) {
                this.selectedColorTheme = colors;
            },

            receiveDateFilters(dateFilters) {
                this.dateFilters = dateFilters;
            },
        },
    }
</script>

<style scoped>
    .theme--dark.v-stepper {
        background-color: rgb(66,66,66)!important;
        box-shadow: none;
    }

    .underNavBar {
        margin-top: 7.5em!important;
    }


</style>
