<template>
    <div>
        <chart :analyse="analyse"></chart>
        <create-chart-drawer v-if="datasets.length > 0" :drawer="drawer" :datasets="datasets" class="drawer" @submitForm="receiveForm">

        </create-chart-drawer>
    </div>
</template>

<script>
    import Chart from "../Charts/Chart";
    import CreateChartDrawer from "./CreateChartDrawer";
    import {Analyse} from "../../utils/models/Analyse";
    import Dataset from "../../utils/models/Dataset";
    import Api from "../../utils/Api";

    export default {
        name: "CreateChart",
        components: {Chart, CreateChartDrawer},
        props: {
            firstId: {
                type: String,
                required: true
            },
            secondId: {
                type: String,
                required: false
            }
        },
        data: () => {
            return {
                datasets: [],
                drawer: true,
                analyse: new Analyse(),
                loaded: false,
            }
        },
        mounted() {
            this.getOneDataset()
        },
        methods: {
            receiveForm(analyse) {
                this.analyse = JSON.parse(JSON.stringify(analyse));
            },

            getOneDataset() {
                Api.getInstance().getDataset(this.firstId).then(dataset => {
                    this.$set(this.datasets, 0, dataset);
                });

            }
        },
    }
</script>

<style scoped>
    .drawer{
        width: 100%;
        height: 100%;
    }
</style>
