<template>
    <v-tooltip top>
        <template v-slot:activator="{ on }">
            <v-select
                    :items="statistics"
                    label="Sélectionnez la statistique à calculer"
                    v-on="on"
                    :rules="rules"
                    v-model="selectedStat"
                    v-on:change="sendStat"
            >
            </v-select>
        </template>
        <span>Statistiques calculés sur l'ensemble des données après application des filtres</span>
    </v-tooltip>
</template>

<script>
    export default {
        name: "StatsSelect",
        props: {
            rules: {
                type: Array,
                required: true
            }
        },
        data: () => {
            return {
                statistics: [
                    "Moyenne",
                    "Nombre d'éléments",
                    "Somme",
                    "Maximum",
                    "Minimum"
                ],
                statisticsRealname: [
                    "avg",
                    "count",
                    "sum",
                    "max",
                    "min"
                ],
                selectedStat: null
            }
        },
        methods: {
            sendStat() {
                this.$emit('stat', {stat: this.statisticsRealname[this.statistics.indexOf(this.selectedStat)]});
            }
        }
    }
</script>

<style scoped>

</style>
