<template>
    <div>
        <v-select
                v-if="Object.keys(xAxes).length > 1"
                :items="Object.keys(xAxes)"
                label="Sélectionnez le jeu de donnée référent"
                v-on="on"
                :rules="rules"
                v-model="selectedXDataset"
        >
        </v-select>
        <v-tooltip top v-if="selectedXDataset !== ''">
            <template v-slot:activator="{ on }">
                <v-select
                        :items="xAxes[selectedXDataset]"
                        label="Sélectionnez la colonne référente"
                        v-on="on"
                        :rules="rules"
                        v-model="selectedXColumn"
                        v-on:change="sendXAxis"
                >
                </v-select>
            </template>
            <span>Correspond à l'axe X</span>
        </v-tooltip>
    </div>
</template>

<script>
    export default {
        name: "XAxisSelect",
        props: {
            xAxes: {
                type: Object,
                required: true
            },
            rules: {
                type: Array,
                required: true
            }
        },
        data: () => {
            return {
                selectedXDataset: "",
                selectedXColumn: "",
            }
        },
        mounted() {
            this.$nextTick(() => {
                this.checkIfOnlyOneDataset()
            })
        },
        methods: {
            checkIfOnlyOneDataset() {
                if (Object.getOwnPropertyNames(this.xAxes).length === 2) {
                    this.selectedXDataset = Object.getOwnPropertyNames(this.xAxes)[1];
                }
            },

            sendXAxis() {
                this.$emit('xAxis', {dataset: this.selectedXDataset, column: this.selectedXColumn})
            }
        }
    }
</script>

<style scoped>

</style>
