<template>
    <v-row align="center">
        <v-col cols="2">
            <v-btn text icon color="red" @click="sendRemoveYAxis">
                <v-icon>delete_forever</v-icon>
            </v-btn>
        </v-col>
        <v-col cols="10">
            <v-select
                    v-if="Object.keys(yAxes).length > 1"
                    :items="Object.keys(yAxes)"
                    label="Sélectionnez le jeu de donnée"
                    v-on="on"
                    :rules="rules"
                    v-model="selectedYDataset"
            >
            </v-select>
            <v-tooltip top v-if="selectedYDataset !== ''">
                <template v-slot:activator="{ on }">
                    <v-select
                            :items="yAxes[selectedYDataset]"
                            label="Sélectionnez une donnée à afficher"
                            v-on="on"
                            :rules="rules"
                            v-model="selectedYColumn"
                            v-on:change="sendYAxis"
                    >
                    </v-select>
                </template>
                <span>Correspond à l'axe Y</span>
            </v-tooltip>
            <StatsSelect v-if="doStats" :rules="rules" :doStats="doStats" @stat="receiveStat"></StatsSelect>
        </v-col>
    </v-row>
</template>

<script>
    import StatsSelect from "./StatsSelect";
    export default {
        name: "YAxisSelect",
        components: {StatsSelect},
        props: {
            yAxes: {
                type: Object,
                required: true
            },
            rules: {
                type: Array,
                required: true
            },
            index: {
                type: Number,
                required: true
            },
            doStats: {
                type: Boolean,
                required: true
            }
        },
        data: () => {
            return {
                selectedYDataset: "",
                selectedYColumn: "",
                stat: null
            }
        },
        mounted() {
            this.$nextTick(() => {
                this.checkIfOnlyOneDataset()
            })
        },
        methods: {
            checkIfOnlyOneDataset() {
                if (Object.getOwnPropertyNames(this.yAxes).length === 2) {
                    this.selectedYDataset = Object.getOwnPropertyNames(this.yAxes)[1];
                }
            },

            sendYAxis() {
                this.$emit('yAxis', {yAxis: {dataset: this.selectedYDataset, column: this.selectedYColumn, stat: this.stat}, index: this.index})
            },

            sendRemoveYAxis() {
                this.$emit('removeAt', this.index);
            },

            receiveStat(stat) {
                this.stat = stat.stat;
                this.sendYAxis();
            }
        }
    }
</script>

<style scoped>

</style>
