<template>
    <div class="ma-12">
        <v-row>
            <v-col cols="12">
                <v-btn v-if="!loading && !error" class="refreshButton right" @click="loadAnalysis()" text>
                    <v-icon>refresh</v-icon>
                </v-btn>
            </v-col>

        </v-row>
        <v-row>
            <v-btn @click="returnToFilters()" text>
                <v-icon>filter_list</v-icon>
            </v-btn>

        </v-row>

        <Loader v-if="loading"/>

        <v-alert class="mx-auto" width="50em" outlined="" v-if="error" :type="type">
            {{message}}
            <v-btn
                    class=""
                    v-if="attempt<10"
                    :loading="loading"
                    :disabled="loading"
                    color="secondary"
                    @click="loadAnalysis"
                    text
            >
                Réessayer
                <v-icon class="ml-2">autorenew</v-icon>
            </v-btn>
        </v-alert>

        <div v-bind:key="key" v-for="(value,key) in analysis">


            <h2 class="themeName mt-5 mb-5">{{key}}</h2>

            <v-row>
                <v-card
                        :ripple="false"
                        @mouseenter="changeDatasetShow(key,index)"
                        @click="changeDatasetShow(key,index)"
                        :max-height="analyse.opened?'14em': '4em'"
                        :min-height="analyse.opened?'14em': '4em'"
                        outlined
                        :class="analyse.opened? 'activeCard' : ''"
                        v-for="(analyse,index) in value"
                        v-bind:key="analyse.databaseName"
                        class="d-inline-block ma-2  "
                >
                    <div class="datasetDiv ml-2">
                        <div class="datasetName" :class="analyse.opened? 'activeCardText' : ''">
                            {{analyse.name}}
                        </div>
                    </div>


                    <div class="favoriteIcon">
                        <v-icon class="ml-1" v-if="analyse.favorite && !analyse.opened ">star</v-icon>
                    </div>

                    <v-card-actions class="actions">
                        <v-btn
                                icon
                        >
                            <v-icon>{{ analyse.opened ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-btn>
                    </v-card-actions>

                    <v-expand-transition>
                        <div v-show="analyse.opened">
                            <v-divider></v-divider>

                            <v-card-text>
                                <div class="datasetDescription" :class="analyse.opened? 'activeCardText' : ''">
                                    {{analyse.description}}
                                </div>
                                <br>
                                <span :class="analyse.opened? 'activeCardText' : ''">
                                    Métier : {{analyse.theme_name}}
                                </span>
                                <span :class="analyse.opened? 'activeCardText ml-12' : 'ml-5'">
                                    Date : {{analyse.updated_at.replace(" "," à ").substring(0, analyse.updated_at.length - 1)}}
                                </span>
                                <br>
                                <br>
                                <span>
                                <v-icon class="ml-1" v-if="analyse.isMap" style="color: #FFFFFF">map</v-icon>
                                <v-icon class="ml-1" v-if="!analyse.isMap" style="color: #FFFFFF">assessment</v-icon>
<v-btn class="cardButton" text @click="analysisSelected(analyse)">Afficher</v-btn></span>
                            </v-card-text>
                        </div>
                    </v-expand-transition>
                </v-card>
            </v-row>
        </div>
    </div>

</template>

<script>

    import Api from "../../utils/Api";
    import Loader from "../core/Loader";

    export default {
        name: "Analysis",
        components: {Loader},
        props:{
            infos:Object
        },
        data() {
            return {
                analysis: {},
                loading: true,
                error: false,
                message: "",
                type: "",
                attempt: 0,
            }
        },

        methods: {
            changeDatasetShow(key, index) {
                Object.keys(this.analysis).forEach((theme) => {
                    this.analysis[theme].forEach((analyse, i) => {
                        if (key === theme && index === i) {
                            analyse.opened = !analyse.opened;
                        } else {
                            analyse.opened = false
                        }
                    })
                })
            },
            analysisSelected(analysis) {
                ("sending anlysis")
                    this.$emit('analysisSelected', analysis)
            },

            returnToFilters(){
                this.$emit("returnToFilters")
            },
            loadAnalysis() {
                let instance = this;
                this.datasets = {};
                this.loading = true;
                this.error = false;
                this.attempt++;
                Api.getInstance().getAnalysisByFilters(this.infos).then((analysis) => {
                    analysis.forEach((analyse) => {
                        if (!(analyse.theme_name in instance.analysis)) {
                            instance.$set(instance.analysis, analyse.theme_name, []);
                            let newAnalyse = analyse;
                            instance.$set(newAnalyse, "opened", false);
                            instance.analysis[analyse.theme_name].push(newAnalyse)
                        } else {
                            let newAnalyse = analyse;
                            instance.$set(newAnalyse, "opened", false);
                            instance.analysis[analyse.theme_name].push(newAnalyse)
                        }

                    });
                    instance.loading = false;
                    (analysis)
                }).catch(function (err) {
                    (err)
                    instance.message = "Erreur lors de la récupération des analyses";
                    instance.type = "error";
                    instance.error = true;
                    instance.loading = false

                });
            }

        },


        mounted() {
            this.$nextTick().then(()=>{
                this.loadAnalysis()
            })

        }
    }

</script>

<style scoped>

    .refreshButton {
        position: absolute;
        right: 2em;
        top: 15.2em;
    }

    .themeName {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #4481EB;
    }

    .v-card {
        background-color: #fafafa;
        width: 25em;
        overflow: hidden;
        display: inline-block;
    }

    .activeCard {
        background-color: #4481EB;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    .cardButton {
        color: #FFFFFF;
        float: right;
    }

    .datasetDescription {
        font-size: 1em;
        color: #2C2F33;
        font-style: normal;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .activeCardText {
        color: #FFFFFF !important;
    }

    .favoriteIcon {
        display: inline;
    }

    .actions {
        display: inline !important;
        float: right;
        margin-top: 0.5em;
    }

    .datasetDiv {
        display: inline-flex;
    }

    .datasetName {
        width: 13em;
        text-overflow: ellipsis;
        line-height: 3em;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
        font-style: normal;
        font-weight: normal;
        font-size: 1.3em;
        color: #2C2F33;
    }
</style>
