<template>
    <div>
        <v-card class="ma-5">
            <v-card-title>
                <v-btn class="" text @click="goBack()">
                    <v-icon class="mr-2">arrow_right_alt</v-icon>
                </v-btn>
                <span class="datasetName">{{dataset.name}}</span>
                <v-spacer></v-spacer>
                <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Recherche sur tout les champs"
                        single-line
                        hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                    :headers="columns"
                    :items="lines"
                    :search="search"
                    locale="fr-FR"
                    :items-per-page="10"
                    no-results-text="Aucun élément ne correspond à la recherche"
                    :no-data-text="dataText"
                    class="elevation-1"
                    :loading="loading"
                    loading-text="Chargement des données"
            />
        </v-card>

    </div>
</template>

<script>
    import Dataset from "../../utils/models/Dataset";
    import Api from "../../utils/Api";

    export default {
        name: "Array",
        props: {
            dataset: {
                type: Dataset
            }
        },
        data() {
            return {
                search: '',
                lines: [],
                columns: [],
                loading: true,
                dataText: "Aucune donnée disponible"
            }
        },
        mounted() {
            this.$nextTick(() => {
                Api.getInstance().getDatasetData(this.dataset.databaseName).then((data) => {
                    data.forEach((element) => {
                        let object = {};
                        if (Object.keys(element).length <= 0) {
                            return
                        }
                        Object.keys(element).forEach((line) => {

                            if (line === "geometry") {
                                return
                            } else {
                                if (!this.containsObject({text: line, value: line}, this.columns)) {
                                    if (!(typeof element[line] == "object")) {
                                        this.columns.push({text: line, value: line})
                                    }
                                }
                            }
                            if (typeof element[line] == "object") {
                                Object.keys(element[line]).forEach((info) => {
                                    if (!this.containsObject({text: info, value: info}, this.columns)) {
                                        this.columns.push({text: info, value: info})
                                    }
                                    object[info] = element[line][info]
                                })
                            } else {
                                object[line] = element[line]
                            }
                        })
                        this.lines.push(object)
                    });
                    this.loading = false;
                }).catch((error) => {
                    this.loading = false;
                    this.dataText = "Erreur de chargement des données"
                })
            })

        },
        methods: {
            goBack() {
                this.$emit("goBack")
            },
            containsObject(obj, list) {

                return list.some(elem => elem.text === obj.text)
            }
        }
    }
</script>

<style scoped>
    .v-icon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .datasetName {
        line-height: 2em !important;
    }
</style>
