<template>

    <div>
        <v-row class="mt-12">
            <p class="mx-auto categoryText">Vous souhaitez trouver :</p>
        </v-row>

        <v-row class="mx-auto">
            <v-btn-toggle group background-color="#FAFAFA" class="mx-auto" tile max="1" v-model="selectedType">
            <v-btn text>Jeux de données</v-btn>
            <v-btn  text>Analyses de données</v-btn>
            </v-btn-toggle>
        </v-row>
        <v-row class="mt-12">
            <p class="mx-auto categoryText">Quel est le type de données que vous recherchez ?</p>

        </v-row>
        <v-row>
            <v-btn-toggle group background-color="#FAFAFA" class="mx-auto" tile v-model="selectedGeojson">
                <v-btn text>Données à plat</v-btn>
                <v-btn  text>Données géographiques</v-btn>
            </v-btn-toggle>
        </v-row>
        <v-row class="mt-12">
            <p class="mx-auto categoryText">A quels métiers sont affiliés les données que vous recherchez ?</p>
        </v-row>
        <v-row class="mb-12">
            <v-btn-toggle
                    class="buttonGroup mx-auto"
                    multiple
                    group

                    active-class="buttonGroup"
                    v-model="themesSelected"
            >
                <v-btn v-bind:key="theme.name" v-for="theme in themes" class=" button" outlined >{{theme.name}}</v-btn>


            </v-btn-toggle>
        </v-row>

        <v-row class="mt-12">
            <v-btn class="mx-auto" color="primary" text :disabled="selectedType==null" @click="goToList">Afficher la selection </v-btn>
        </v-row>



    </div>
    
</template>

<script>
    import Api from "../../utils/Api";

    export default {
        name: "Filter",
        data(){
            return{
                themes:[],
                themesSelected : [],
                selectedType:null,
                selectedGeojson:null,
            }
        },
        methods:{
            loadThemes(){
                Api.getInstance().getThemes().then((data)=>{
                    this.themes = data;
                });
            },
            goToList(){
                if(this.selectedType != null){
                    let choices = [];
                    let geojson = false
                    this.themesSelected.forEach((value)=>{
                        choices.push(this.themes[value].name)
                    })
                    if(this.selectedGeojson == 1){
                        geojson = true
                    }
                if(this.selectedGeojson == null){
                    geojson = null
                }
                    this.$emit("selected",{selectedType:this.selectedType,themesSelected:choices,selectedGeojson:geojson})
                }
            }
        },
        created:function(){
            this.loadThemes();
        }
    }
</script>

<style scoped>
.categoryText{
    font-size: 1.5em;
    font-weight: bold;
}
</style>