<template>
    <div>
        <v-snackbar
                v-model="favoriteError"
                color="error"
                bottom
                left
        >
            {{ dataset.favorite?"Échec de la suppression du jeu des favoris":"Échec de l'ajout du jeu aux favoris" }}
        </v-snackbar>

        <v-navigation-drawer hide-overlay width="20em" class="drawer" clipped absolute temporary v-model="drawer" right>


            <v-row class="mt-6 ml-4">
                <v-btn text @click="drawer = !drawer">
                    <v-icon>arrow_right_alt</v-icon>
                </v-btn>
                <span class="ml-12 mt-2">Actions</span>
            </v-row>

            <v-row class="mt-12">
                <v-btn text class="drawerButton" @click="goToArray()">
                    <v-icon>assessment</v-icon>
                    <span class="ml-6">Tableau de données</span></v-btn>
            </v-row>
            <v-row class="mt-4">
                <v-btn text class="drawerButton">
                    <v-icon>map</v-icon>
                    <span class="ml-6">Afficher les données géo</span></v-btn>
            </v-row>
            <v-row class="mt-4">
                <router-link :to="chartUrl">
                    <v-btn text class="drawerButton">
                        <v-icon>pie_chart</v-icon>
                        <span class="ml-6">Faire des statistiques</span>
                    </v-btn>
                </router-link>
            </v-row>

            <v-divider style="width: 15em" class="mx-auto mt-5"/>

            <v-row class="mt-4">
                <v-btn text class="drawerButton" @click="toggleFavorite()">
                    <v-icon :class="dataset.favorite?'star':''">star</v-icon>
                    <span class="ml-6">{{dataset.favorite?"Retirer le jeu":"Sauvegarder le jeu"}}</span></v-btn>
            </v-row>

            <v-row class="mt-4">
                <v-btn text class="drawerButton" @click="goBack()">
                    <v-icon>clear</v-icon>
                    <span class="ml-6">Fermer jeu de données</span></v-btn>
            </v-row>

        </v-navigation-drawer>

        <v-row class="ml-12 mb-5">
            <v-col lg="10">
                <h2 class="title">{{dataset.name}}</h2>
            </v-col>
            <v-col lg="2">
                <v-btn class="" text @click="drawer = !drawer">Actions</v-btn>
                <v-btn class="" text @click="goBack()">Fermer</v-btn>
            </v-col>
        </v-row>

        <v-row>
            <p class="description">{{dataset.description}}</p>
        </v-row>
        <v-row class="mb-12 mt-7">
            <span class="mx-auto"><span class="bold">Producteur</span><div
                    class="mx-auto">{{dataset.producer}}</div></span>
            <span class="mx-auto"><span class="bold">Utilisateur</span><div>{{dataset.user}}</div></span>
            <span class="mx-auto"><span class="bold">Données</span><div class="ml-5">{{this.apiFetchError?"Erreur lors du chargement":dataset.numberOfLines}}</div></span>
            <span class="mx-auto"><span class="bold">Licence</span><div>{{dataset.license}}</div></span>
            <span class="mx-auto"><span class="bold ml-5">Date</span><div>{{dataset.updated_date.substring(0, dataset.updated_at.length - 8)}}</div></span>
        </v-row>
        <v-row>
            <div class="subTitleDCAT">
                DCAT
            </div>
        </v-row>
        <v-row class="mb-12 mt-7">
            <span class="mx-auto"><span class="bold">Créateur</span><div
                    class="mx-auto">{{dataset.creator}}</div></span>
            <span class="mx-auto"><span class="bold">Crée le</span><div>{{dataset.created_date.substring(0, dataset.updated_at.length - 8)}}</div></span>
            <span class="mx-auto"><span class="bold">Mise à jour</span><div class="">{{dataset.update_frequency}}</div></span>
            <span class="mx-auto"><span class="bold">Contributeur</span><div>{{dataset.contributor}}</div></span>
            <span class="mx-auto"><span class="bold">Temps réel</span><div
                    class="ml-5">{{dataset.realtime?"Oui":"Non"}}</div></span>
        </v-row>
        <v-row>
            <div class="subTitleTags">
                Tags
            </div>
        </v-row>
        <v-row>
            <div class="tags">

            </div>
        </v-row>

    </div>
</template>

<script>
    import Dataset from "../../utils/models/Dataset";

    export default {
        name: "Infos",
        props: {
            dataset: {
                type: Dataset,
                required: true
            }
        },
        data() {
            return {
                drawer: false,
                apiFetchError: false,
                favoriteError: false,
                chartUrl: "/chart/"+this.dataset.id,
            }
        },
        mounted() {
            this.$nextTick(() => {
                this.dataset.getNumberOfLineFromApi().catch((error) => {
                    this.apiFetchError = true;
                });
            })
        },
        methods: {
            goBack() {
                this.$emit("goBack")
            },
            goToArray() {
                this.$emit("goToArray")
            },
            toggleFavorite() {
                this.dataset.toggleFavorited().catch((error) => {
                    this.favoriteError = true;
                    setTimeout(() => {
                        this.favoriteError = false
                    }, 6000)
                })
            }
        }
    }
</script>

<style scoped>
    .v-card {
        background-color: #fafafa;
        overflow: hidden;
        width: 100%;
        display: inline-block;
    }

    .v-icon {
        font-size: 2.5em;
    }

    .star {
        color: #fdd835 !important;
    }

    .v-snack__wrapper error {
        margin-left: 1em;
        margin-bottom: 1em;
    }

    .bold {
        font-weight: bold;
    }

    .drawerButton {
        width: 100%;
        align-items: start;
        justify-content: start !important;
        height: 5em !important;
        margin-left: 1em !important;
    }

    .drawer {
        margin-top: 7.6em;
        background-color: #fafafa;
        box-shadow: none!important;
    }
    .theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border{
        background-color: rgba(0, 0, 0, 0)!important;
    }

    .description {
        width: 70em;
        margin-left: 8%;
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 10em;
        line-height: 2em;
        font-size: 1.1em;
    }

    .subTitleDCAT {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        width: 15%;
        margin-left: 3em;
        border-bottom: solid #03258C;
        border-bottom-width: 0.1em;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* Electric Blue */

        color: #03258C;
    }

    .subTitleTags {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        width: 30%;
        margin-left: 3em;
        border-bottom: solid #03258C;
        border-bottom-width: 0.1em;
        /* identical to box height */

        display: flex;
        align-items: center;

        /* Electric Blue */

        color: #03258C;
    }

    .tags {
        height: 10em;
    }

    .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 2em !important;
        line-height: 28px;
        color: #03258C;
    }
</style>
