<template>
    <div class="ma-12">
        <v-row>
            <v-col cols="11">
                <v-btn class="float-right">Selectionner des jeux de données</v-btn>
            </v-col>
            <v-col cols="1">
                <v-btn v-if="!loading && !error" class="refreshButton right" @click="loadDatasets()" text>
                    <v-icon>refresh</v-icon>
                </v-btn>
            </v-col>

        </v-row>
        <v-row>
            <v-btn @click="returnToFilters()" text>
                <v-icon>filter_list</v-icon>
            </v-btn>

        </v-row>

        <Loader v-if="loading"/>

        <v-alert class="mx-auto" width="50em" outlined="" v-if="error" :type="type">
            {{message}}
            <v-btn
                    class=""
                    v-if="attempt<10"
                    :loading="loading"
                    :disabled="loading"
                    color="secondary"
                    @click="loadDatasets"
                    text
            >
                Réessayer
                <v-icon class="ml-2">autorenew</v-icon>
            </v-btn>
        </v-alert>

        <div v-bind:key="key" v-for="(value,key) in datasets">


            <h2 class="themeName mt-5 mb-5">{{key}}</h2>

            <v-row>
                <v-card
                        :ripple="false"
                        @mouseenter="changeDatasetShow(key,index)"
                        @click="changeDatasetShow(key,index)"
                        :max-height="dataset.opened?'14em': '4em'"
                        :min-height="dataset.opened?'14em': '4em'"
                        outlined
                        :class="dataset.opened? 'activeCard' : ''"
                        v-for="(dataset,index) in value"
                        v-bind:key="dataset.id"
                        class="d-inline-block ma-2  "
                >
                    <div class="datasetDiv ml-2">
                        <div class="datasetName" :class="dataset.opened? 'activeCardText' : ''">
                            {{dataset.name}}
                        </div>
                    </div>


                    <div class="favoriteIcon">
                        <v-icon class="ml-1" v-if="dataset.favorite && !dataset.opened ">star</v-icon>
                    </div>

                    <v-card-actions class="actions">
                        <v-btn
                                icon
                                @click="changeDatasetShow(key,index)"
                        >
                            <v-icon>{{ dataset.opened ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-btn>
                    </v-card-actions>

                    <v-expand-transition>
                        <div v-show="dataset.opened">
                            <v-divider></v-divider>

                            <v-card-text>
                                <div class="datasetDescription" :class="dataset.opened? 'activeCardText' : ''">
                                    {{dataset.description}}
                                </div>
                                <br>
                                <span :class="dataset.opened? 'activeCardText' : ''">
                                    Métier : {{dataset.themeName}}
                                </span>
                                <span :class="dataset.opened? 'activeCardText ml-12' : 'ml-5'">
                                    Date : {{dataset.updated_at.replace(" "," à ").substring(0, dataset.updated_at.length - 1)}}
                                </span>
                                <br>
                                <br>
                                <span>
                                <v-icon class="ml-1" v-if="dataset.GEOJSON" style="color: #FFFFFF">map</v-icon>
                                <v-icon class="ml-1" v-if="!dataset.GEOJSON" style="color: #FFFFFF">assessment</v-icon>
                                <v-icon class="ml-1" v-if="dataset.favorite" style="color: #FFFFFF">star</v-icon>
                                    <v-icon class="ml-1"
                                            v-if="dataset.realtime || dataset.update_frequency === 'Temps réel'"
                                            style="color: #FFFFFF">autorenew</v-icon>
<v-btn class="cardButton" text @click="datasetSelected(dataset)">Afficher</v-btn></span>
                            </v-card-text>
                        </div>
                    </v-expand-transition>
                </v-card>
            </v-row>
        </div>
    </div>

</template>

<script>

    import Api from "../../utils/Api";
    import Loader from "../core/Loader";
    import moment from "moment";

    export default {
        name: "List",
        components: {Loader},
        props: {
            infos: Object,
            selectedTopic: Number
    },

    data()
    {
        return {
            datasets: {},
            loading: true,
            error: false,
            message: "",
            type: "",
            attempt: 0,
        }
    }
    ,

    methods: {
        changeDatasetShow(key, index)
        {
            Object.keys(this.datasets).forEach((theme) => {
                this.datasets[theme].forEach((dataset, i) => {
                    if (key === theme && index === i) {
                        dataset.opened = !dataset.opened;
                    } else {
                        dataset.opened = false
                    }
                })
            })
        }
    ,
        datasetSelected(dataset)
        {
            this.$emit('datasetSelected', dataset)
        }
    ,

        returnToFilters()
        {
            this.$emit("returnToFilters")
        }
    ,
        loadDatasets()
        {
            let instance = this;
            this.datasets = {};
            this.loading = true;
            this.error = false
            this.attempt++;
            Api.getInstance().getDatasetsByFilters(this.infos).then((datasets) => {
                if (this.selectedTopic === 0) {
                    datasets.forEach((dataset) => {
                        if (!(dataset.themeName in instance.datasets)) {
                            instance.$set(instance.datasets, dataset.themeName, []);
                            let newDataset = dataset;
                            instance.$set(newDataset, "opened", false);
                            instance.datasets[dataset.themeName].push(newDataset)
                        } else {
                            let newDataset = dataset;
                            instance.$set(newDataset, "opened", false);
                            instance.datasets[dataset.themeName].push(newDataset)
                        }
                    })
                } else {
                    datasets.forEach((dataset) => {
                            if (!(dataset.themeName in instance.datasets)) {
                                instance.$set(instance.datasets, dataset.themeName, []);
                                let newDataset = dataset;
                                instance.$set(newDataset, "opened", false);
                                instance.datasets[dataset.themeName].push(newDataset)
                            } else {
                                let newDataset = dataset;
                                instance.$set(newDataset, "opened", false);
                                instance.datasets[dataset.themeName].push(newDataset)
                            }
                        }
                    )
                }
                instance.loading = false;
            })
                        .catch(function (err) {
                            instance.message = "Erreur lors de la récupération des analyses";
                            instance.type = "error";
                            instance.error = true;
                            instance.loading = false

                        });
        }
    },


    mounted()
    {
        this.$nextTick().then(() => {
            this.loadDatasets()
        })

    }
    }

</script>

<style scoped>

    .refreshButton {
        position: absolute;
        right: 2em;
        top: 15.2em;
    }

    .themeName {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #4481EB;
    }

    .v-card {
        background-color: #fafafa;
        width: 25em;
        overflow: hidden;
        display: inline-block;
    }

    .activeCard {
        background-color: #4481EB;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    .cardButton {
        color: #FFFFFF;
        float: right;
    }

    .datasetDescription {
        font-size: 1em;
        color: #2C2F33;
        font-style: normal;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .activeCardText {
        color: #FFFFFF !important;
    }

    .favoriteIcon {
        display: inline;
    }

    .actions {
        display: inline !important;
        float: right;
        margin-top: 0.5em;
    }

    .datasetDiv {
        display: inline-flex;
    }

    .datasetName {
        width: 13em;
        text-overflow: ellipsis;
        line-height: 3em;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
        font-style: normal;
        font-weight: normal;
        font-size: 1.3em;
        color: #2C2F33;
    }
</style>
