<template>
    <div class="mx-auto">
        <h1 class="loaderText mx-auto">Chargement des données</h1>
        <v-progress-circular
                :size="90"
                class="loader mx-auto"
                color="primary"
                indeterminate
        ></v-progress-circular>
    </div>
</template>

<script>
    export default {
        name: "loader"
    }
</script>

<style scoped>
    .loader{
        width: 100%!important;
        margin-top: 3em;
    }
    .loaderText{
        width: 12em;
    }
</style>