<template>
    <div class="container">
        <div class="canvasContainer mx-auto">
            <BarChart v-if="bar" :chart-data="data" :options="options" :styles="customStyles"></BarChart>
            <DoughnutChart v-if="donut" :chart-data="data" :options="options" :styles="customStyles"></DoughnutChart>
            <LineChart v-if="line" :chart-data="data" :options="options" :styles="customStyles"></LineChart>
            <ColumnChart v-if="column" :chart-data="data" :options="options" :styles="customStyles"></ColumnChart>
            <PieChart v-if="pie" :chart-data="data" :options="options" :styles="customStyles"></PieChart>
            <PolarChart v-if="polar" :chart-data="data" :options="options" :styles="customStyles"></PolarChart>
            <RadarChart v-if="radar" :chart-data="data" :options="options" :styles="customStyles"></RadarChart>
        </div>
    </div>
</template>

<script>
    import RadarChart from "./RadarChart.vue";
    import {ChartType, ChartTypeUtil} from "../../utils/models/ChartType";
    import Axios from "axios";
    import {DataSorter} from "../../utils/DataSorter";
    import BarChart from "./BarChart";
    import DoughnutChart from "./DoughnutChart";
    import LineChart from "./LineChart";
    import PieChart from "./PieChart";
    import PolarChart from "./PolarChart";
    import ColumnChart from "./ColumnChart";
    import {Analyse} from "../../utils/models/Analyse";
    import Api from "../../utils/Api";
    import {ColorTheme} from "../../utils/ColorUtils";

    export default {
        name: "Chart",
        components: {PolarChart, PieChart, LineChart, DoughnutChart, BarChart, RadarChart, ColumnChart},
        props: {
            analyse: {
                type: Analyse,
                required: true
            }
        },
        data() {
            return {
                chartType: ChartType,
                options: {
                    responsive: true,
                    scales : {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                },
                columnsToGet: [],
                xColumn: "",
                statsToGet: [],
                bar: false,
                column: false,
                donut: false,
                line: false,
                pie: false,
                polar: false,
                radar: false,
                data: null,
                unsortedData: null,
                doSort: false,
                doColumnSort: false,
                colorTheme: ColorTheme,
            }
        },

        computed: {
            customStyles () {
                return {
                    position: 'relative'
                }
            }
        },

        mounted() {
            this.$nextTick(() => {
                this.fetchDataSortItAndLoadCorrectChartWithData();
            })
        },
        watch: {
            analyse: function() {
                this.fetchDataSortItAndLoadCorrectChartWithData();
            }
        },

        methods: {
            fetchDataSortItAndLoadCorrectChartWithData() {
                let instance = this;
                Api.getInstance().getDataFromDatasets(this.analyse.body).then((data) => {
                    this.unsortedData = data;
                    this.chartType = ChartTypeUtil.getChartTypeFromName(this.analyse.representation_type);
                    this.doSort = JSON.parse(this.analyse.usage).doSort;
                    this.doColumnSort = JSON.parse(this.analyse.usage).doColumnSort;
                    this.colorTheme = ColorTheme.getColorThemeFromName(JSON.parse(this.analyse.usage).colorTheme);
                    instance.parseAnalyse();
                    instance.sortDataAccordingToOptions();
                    instance.loadChosenChart();
                    instance.addColorToOptions();
                })
            },

            loadChosenChart() {
                switch (this.chartType) {
                    case ChartType.radar:
                        this.resetCharts();
                        this.radar = true;
                        break;
                    case ChartType.line:
                        this.resetCharts();
                        this.line = true;
                        break;
                    case ChartType.bar:
                        this.resetCharts();
                        this.bar = true;
                        break;
                    case ChartType.pie:
                        this.resetCharts();
                        this.pie = true;
                        break;
                    case ChartType.donut:
                        this.resetCharts();
                        this.donut = true;
                        break;
                    case ChartType.polar:
                        this.resetCharts();
                        this.polar = true;
                        break;
                    case ChartType.column:
                        this.resetCharts();
                        this.column = true;
                        break;
                }
            },

            resetCharts() {
                this.radar = false;
                this.line = false;
                this.bar = false;
                this.pie = false;
                this.donut = false;
                this.polar = false;
                this.column = false;
            },

            parseAnalyse() {
                this.columnsToGet = [];
                this.statsToGet = [];
                this.analyse.analysis_column.forEach((column) => {
                    if(JSON.parse(column.usage).axis === "x") {
                        this.xColumn = column.field
                    } else {
                        this.columnsToGet.push(column.field)
                    }
                    if(this.analyse.body.stats.do_stats && JSON.parse(column.usage).statType) {
                        this.statsToGet.push([column.field, JSON.parse(column.usage).statType[0]])
                    }
                })
            },

            sortDataAccordingToOptions() {
                if(this.chartType === ChartType.line) {
                    this.data = DataSorter.linearSort(this.unsortedData, this.xColumn, this.columnsToGet, this.statsToGet);
                } else {
                    if (this.doSort) {
                        this.data = DataSorter.linearSort(this.unsortedData, this.xColumn, this.columnsToGet, this.statsToGet)
                    } else if (this.doColumnSort) {
                        this.data = DataSorter.columnSort(this.unsortedData, this.statsToGet);
                    } else {
                        this.data = DataSorter.simpleSort(this.unsortedData, this.xColumn, this.columnsToGet, this.statsToGet);
                    }
                }
            },

            addColorToOptions() {
                if(this.colorTheme) {
                    /*if ([ChartType.Bar, ChartType.column, ChartType.donut, ChartType.polar, ChartType.pie].indexOf(this.chartType) !== -1 && !this.doColumnSort) {
                        let colors = this.data.labels.length <= this.colorTheme.colors.length ? this.colorTheme.colors.slice(0, this.data.datasets.length) : this.colorTheme.generateGradientForXColors(this.data.labels.length);
                        this.data.datasets[0]['borderColor'] = [];
                        this.data.datasets[0]['backgroundColor'] = [];
                        colors.forEach((color, index) => {
                            this.data.datasets[0]['borderColor'].push(color);
                            this.data.datasets[0]['backgroundColor'].push(ColorTheme.LightenDarkenColor(color, 50));
                        });
                    } else */if (this.doColumnSort) {
                        let colors = this.data.datasets[0].data.length <= this.colorTheme.colors.length ? this.colorTheme.colors.slice(0, this.data.datasets[0].data.length) : this.colorTheme.generateGradientForXColors(this.data.datasets[0].data.length);
                        this.data.datasets[0]['borderColor'] = [];
                        this.data.datasets[0]['backgroundColor'] = [];
                        colors.forEach((color) => {
                            this.data.datasets[0]['borderColor'].push(color);
                            this.data.datasets[0]['backgroundColor'].push(ColorTheme.LightenDarkenColor(color, 50));
                        })
                    } else {
                        let colors = this.data.datasets.length <= this.colorTheme.colors.length ? this.colorTheme.colors.slice(0, this.data.datasets.length) : this.colorTheme.generateGradientForXColors(this.data.datasets.length);
                        colors.forEach((color, index) => {
                            this.data.datasets[index]['borderColor'] = color;
                            this.data.datasets[index]['backgroundColor'] = ColorTheme.LightenDarkenColor(color, 50, 0.8);
                            this.data.datasets[index]['pointBackgroundColor'] = ColorTheme.LightenDarkenColor(color, -60);
                            this.data.datasets[index]['pointBorderColor'] = ColorTheme.LightenDarkenColor(color, -60);
                        })
                    }
                    }
                }
            }
        }
</script>

<style scoped>
    .canvasContainer {
        width: 750px;
    }
    @media screen and (max-device-height: 721px) {
        .canvasContainer {
            width: 550px!important;
        }
    }


</style>
