<script>
    import {Line} from "vue-chartjs/src";
    import {reactiveProp} from "vue-chartjs/src/mixins";

    export default {
        extends: Line,
        mixins: [reactiveProp],
        props: {
             options: Object
        },

        mounted() {
            this.renderChart(this.chartData, this.options)
        },

        methods: {
            render() {
                this.renderChart(this.chartData, this.options)
            }
        }
    }
</script>

<style scoped>

</style>
