<template>
<div class="text-center mt-5">
            <h2 class="mb-10">Sélectionnez la colonne qui servira de référence pour la mise à jour du jeu de données</h2>

</div>
    
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>