<template>
    <div class="text-center mt-5">

        <h2 class="mb-10">Informations sur le jeu de données en cours d’importation</h2>
        <div class="input mx-auto">
            <v-text-field class="input"
                            v-model="name"
                          label="Nom du jeu de données"
                          counter
                          :rules="[rules.required,rules.counter]"
                          outlined
            ></v-text-field>
            <v-textarea class="input"
                        outlined
                        v-model="description"
                        counter
                        :rules="[rules.required,rules.counter]"
                        label="Description du jeu de données"
            ></v-textarea>
        </div>
        
        <div class="mx-auto">
            <p class="text">Sélectionnez le métier auquel doit être rattacher le jeu de données</p>
            <br>
            <v-btn-toggle
                    class="buttonGroup mt-5"
                    multiple
                    active-class="buttonGroup"
                    v-model="themesSelected"
            >
            <v-btn v-bind:key="theme.name" v-for="theme in themes" class=" button" outlined >{{theme.name}}</v-btn>
            

            </v-btn-toggle>
                           <v-alert class="mx-auto" width="50em" outlined="" v-if="error" :type="type">
      {{message}}
      <v-btn
      class=""
      v-if="attempt<10"
      :loading="loading"
      :disabled="loading"
      color="secondary"
      @click="loadWorks"
      text
    >
    Réessayer
   <v-icon class="ml-2">autorenew</v-icon>
      </v-btn>
    </v-alert>
        </div>

    </div>

</template>

<script>
    import Constants from "@/utils/Constants"
    import axios from "axios"
    import Api from "../../utils/Api";
    export default {
        name: "Informations",
        data(){
            return {
                name: null,
                description: null,
            
                themes:[],
                themesSelected : [],
        error: false,
        message: "",
        type:"",
        loading: false,
        attempt: 0,
                rules: {
                    required: value => !!value || 'Le champ est requis.',
                    counter: value => value.length >= 10|| 'Minimum 10 charactères',
                }
            }
        },
        watch:{
            name:function(newVal,oldVal){
                if(newVal.length>10){
                    this.$emit('updatedName',newVal)
                }
                else{
                    this.$emit('updatedName',null)
                }
            },
            description:function(newVal,oldVal){
                if(newVal.length>10){
                    this.$emit('updatedDescription',newVal)
                }
                else{
                    this.$emit('updatedDescription',null)
                }
            },
            themesSelected:function(newVal,oldVal){
                var instance = this;
                var themes = [];
                this.themesSelected.forEach((element)=>{
                    themes.push(instance.themes[element].name)
                });
                if(newVal.length>1){
                    this.$emit('updatedThemes',themes)
                }
                else{
                    this.$emit('updatedThemes',themes)
                }
            }
        },
        methods:{
            loadThemes(){
                const instance = this;
                this.loading = true;
                this.attempt++;
                Api.getInstance().getThemes().then(function(response){
                    instance.themes = response;
                    instance.loading = false

                }).catch(function(err){
                    instance.message = "Erreur lors de la récupération des métiers";
                    instance.type="error";
                    instance.error = true;
                    instance.loading = false

                })
            }
        },
        created:function(){
            this.loadThemes();
        }
        
    }
</script>

<style scoped>
    .input{
        max-width: 45em!important;
        margin: 1em;
    }
    .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;

        color: #2C2F33;
    }
    .button{
  display: block!important;
}
    
    .button{
        border: 1px solid #E5E5E5;
        background-color: transparent!important;
        box-sizing: border-box;
        border-radius: 2px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height */

        align-items: center;
        margin-right: 0px!important;

        color: #2C2F33;
    }
    .v-btn--active{
        border: 1px solid #008F18!important;
box-sizing: border-box!important;
border-radius: 2px!important;
border-color: #008F18!important;
    }
    .buttonGroup{
        background-color: transparent!important;

    }
</style>
