<template>
  <div class="text-center mt-5">
    <h2>Toutes les informations sont correctement remplies</h2>
    <h2>Nous procédons à l’import du jeu de données</h2>
    <v-img class="mx-auto" width="25em" src="@/assets/images/upload/orbite-svg-anime.svg"></v-img>
    <v-btn text @click="sheet = true" class="link">Importer un nouveau jeu de données</v-btn>

    <v-bottom-sheet v-model="sheet" inset>
            <v-sheet class="text-center" height="175px">
        <h3 class="pt-10">Êtes-vous sûr de vouloir importer un nouveau jeu de données ?</h3>
        <v-btn class="mt-10 mr-10" text @click="sheet = false">Annuler</v-btn>
        <v-btn class="mt-10"  text @click="restart">Valider</v-btn>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  data() {
    return {
        sheet: false,
    };
  },
  methods: {
    restart() {
      this.$emit("restart");
    }
  }
};
</script>

<style scoped>

.link{
    font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #4481EB;

}

</style>