<template>
    <div class="text-center mt-5">
        <h2>Choisissez le fichier à charger</h2>
        <div class="input mx-auto">
                <v-file-input @change="addFile"  class="pa-2" prepend-icon="" accept=".json,.geojson,.csv"  outlined dense show-size label="Choisissez le via l’explorateur ..."></v-file-input>
        </div>
        <p>Les formats de fichiers acceptés par MetaCity Platform sont :</p>
        <div>
            <span class="ma-7 formatText">CSV</span>
            <span class="ma-7 formatText">Json</span>
            <span class="ma-7 formatText">GeoJson</span>
        </div>
<v-img class="mx-auto ma-12" width="15em" src="@/assets/images/upload/folder.svg"/>
    </div>
</template>

<script>
    export default {
        name: "UploadFile",
        data(){
            return {
                file : null
            }
        },
        methods:{
            addFile(event){
               this.file = [event];
               this.$emit('updatedFile',this.file)
            }
        }
    }
</script>

<style scoped>
.input{
    max-width: 30em!important;
    margin: 4em;
}
    .formatText{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;

        color: #2C2F33;
    }
</style>
