<template>
  <div class="text-center mt-5">
    <h2 class="mb-5">Sélectionnez les formats de visualisation possible sur le jeu de données</h2>
    <v-container class="mx-auto">
        <v-btn-toggle class="group" active-class="buttonActivated" multiple v-model="selection">
      <v-row>
        <v-col cols="4">
            <v-btn text class="buttonGraph button">
                <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en secteur')?visualisationsImg['Graphique en secteur selected']:visualisationsImg['Graphique en secteur']"
          ></v-img>
          <p class="text mt-5">Graphique en secteur</p>
            </v-btn>
          
        </v-col>
        <v-col cols="4">
             <v-btn  text class="buttonGraph button">
          <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en anneau')?visualisationsImg['Graphique en anneau selected']:visualisationsImg['Graphique en anneau']"
          ></v-img>
          <p class="text mt-5 mb-5">Graphique en anneau</p>
             </v-btn>
        </v-col>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en radar polaire')?visualisationsImg['Graphique en radar polaire selected']:visualisationsImg['Graphique en radar polaire']"
          ></v-img>
          
          <p class="text mt-5 mb-5">Graphique en radar polaire</p>
             </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en colonnes')?visualisationsImg['Graphique en colonnes selected']:visualisationsImg['Graphique en colonnes']"
          ></v-img>
          <p class="text mt-5 mb-5">Graphique en colonnes</p>
             </v-btn>
        </v-col>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en barres')?visualisationsImg['Graphique en barres selected']:visualisationsImg['Graphique en barres']"
          ></v-img>
          <p class="text mt-5 mb-5">Graphique en barres</p>
             </v-btn>
        </v-col>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en étoile')?visualisationsImg['Graphique en étoile selected']:visualisationsImg['Graphique en étoile']"
          ></v-img>
          <p class="text mt-5 mb-5">Graphique en étoile</p>
             </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Graphique en lignes')?visualisationsImg['Graphique en lignes selected']:visualisationsImg['Graphique en lignes']"
          ></v-img>
          <p class="text mt-5 mb-5">Graphique en lignes</p>
             </v-btn>
        </v-col>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
          <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Visualisation géographique')?visualisationsImg['Visualisation géographique selected']:visualisationsImg['Visualisation géographique']"
          ></v-img>
          <p class="text mt-5 mb-5">Visualisation géographique</p>
             </v-btn>
        </v-col>
        <v-col cols="4">
             <v-btn text class="buttonGraph button">
           <v-img
            class="mx-auto mt-5 mb-5"
            width="5em"
            :src="visualisationsSelected.includes('Statistiques de sommes')?visualisationsImg['Statistiques de sommes selected']:visualisationsImg['Statistiques de sommes']"
          ></v-img>
          <p class="text mt-5 mb-5">Statistiques de sommes</p>
             </v-btn>
        </v-col>
      </v-row>
        </v-btn-toggle>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Visualisations",
  data() {
    return {
        visualisations : ["Graphique en secteur","Graphique en anneau","Graphique en radar polaire","Graphique en colonnes","Graphique en barres","Graphique en étoile","Graphique en lignes","Visualisation géographique","Statistiques de sommes"],
        selection : [],
        visualisationsSelected : [],
        visualisationsImg : {
            "Graphique en secteur":require("@/assets/images/upload/statistics-camembert-unselect.svg"),
            "Graphique en secteur selected":require("@/assets/images/upload/statistics-camembert-selected.svg"),
            "Graphique en anneau":require("@/assets/images/upload/statistic-donut-unselect.svg"),
            "Graphique en anneau selected":require("@/assets/images/upload/statistic-donut-selected.svg"),
            "Graphique en radar polaire":require("@/assets/images/upload/statistics-radar-polaire-unselect.svg"),
            "Graphique en radar polaire selected":require("@/assets/images/upload/statistics-radar-polaire-selected.svg"),
            "Graphique en colonnes":require("@/assets/images/upload/statistics-column-unselect.svg"),
            "Graphique en colonnes selected":require("@/assets/images/upload/statitics-column-selected.svg"),
            "Graphique en barres":require("@/assets/images/upload/statistics-bar-chart-unselect.svg"),
            "Graphique en barres selected":require("@/assets/images/upload/statistics-bar-chart-selected.svg"),
            "Graphique en étoile":require("@/assets/images/upload/statistics-radar-unselect.svg"),
            "Graphique en étoile selected":require("@/assets/images/upload/statistics-radar-selected.svg"),
            "Graphique en lignes":require("@/assets/images/upload/statistics-line-unselect.svg"),
            "Graphique en lignes selected":require("@/assets/images/upload/statistics-line-selected.svg"),
            "Visualisation géographique":require("@/assets/images/upload/map-unselect.svg"),
            "Visualisation géographique selected":require("@/assets/images/upload/map-selected.svg"),
            "Statistiques de sommes":require("@/assets/images/upload/statistics-sum-unselect.svg"),
            "Statistiques de sommes selected":require("@/assets/images/upload/statistics-sum-selected.svg"),
        }
    };
  },
  watch:{
      selection:function(newVal,oldVal){
          let array = [];
          this.visualisationsSelected = [];
          newVal.forEach(element => {
            array.push(this.visualisations[element])
              this.visualisationsSelected.push(this.visualisations[element])
          });
          this.$emit('updatedVisualisations',array)
      }
  }
};
</script>


<style>
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px; 
  display:unset!important;
  /* identical to box height */

  text-align: center;

  color: #2c2f33;
}

.buttonGraph span.v-btn__content{
  display: block!important;

}
.buttonGraph{
        height: 100%!important;
    width: 100%!important;
}

    .v-btn--active{
        border: 1px solid #008F18!important;
box-sizing: border-box!important;
border-radius: 2px!important;
border-color: #008F18!important;
    }


.button{
    text-transform: none;
}


.group{
  display: block;
    background-color: transparent!important;
}
</style>