<template>
    <div>
        <Filters v-if="selectedTopic==null" @selected="loadList"></Filters>
        <List v-if="selectedTopic!=null && selectedTopic===0" :infos="infos" @returnToFilters="returnToFilters" :selectedTopic="selectedTopic" v-show="dataset == null" @datasetSelected="loadDatasetInfos"/>
        <Analysis v-if="selectedTopic!=null && selectedTopic===1 & analysis==null" :infos="infos" @analysisSelected="loadAnalysis" @returnToFilters="returnToFilters" :selectedTopic="selectedTopic" v-show="dataset == null" @datasetSelected="loadDatasetInfos"></Analysis>
        <Chart v-if="analysis != null && analysis.isMap == false" :analyse="analysis"></Chart>
        <Infos v-if="dataset && !onInfos" @goToArray="loadDatasetArray" @goBack="dataset=null" :dataset="dataset"/>
        <Array v-if="dataset && onInfos" @goBack="onInfos = false" :dataset="dataset"/>
    </div>
</template>

<script>
    import List from "../components/catalogue/List";
    import Infos from "../components/catalogue/Infos";
    import Array from "../components/catalogue/Array";
    import Filters from "../components/catalogue/Filters";
    import Analysis from "../components/catalogue/Analysis";
    import Chart from "../components/Charts/Chart";
    import {Analyse} from "../utils/models/Analyse";

    export default {
        name: "Catalogue",
        components: {Chart, Analysis, Filters, Array, List, Infos},
        data() {
            return {
                dataset: null,
                onInfos: false,
                selectedTopic:null,
                infos:null,
                analysis:null,


            }
        },
        methods: {
            loadList(infos){
                this.selectedTopic = infos.selectedType;
                this.infos = infos

            },

            loadAnalysis(analysis){
                this.analysis = analysis
            },
            loadDatasetInfos(dataset) {
                this.dataset = dataset;
            },
            loadDatasetArray() {
                this.onInfos = true;
            },
            returnToFilters(){
                this.selectedTopic = null;
            }
        }
    }
</script>

<style scoped>

</style>
