<template>
    <v-row align="center" class="mx-auto">
        <v-card class="connectCard" outlined width="30em">
            <v-card-title  class="mb-8">Se connecter</v-card-title>

            <v-card-text>
        <v-form
                ref="form"
                v-model="valid"
                :lazy-validation="true"
        >
            <v-text-field
                    width="5em"
                    clearable
                    counter
                    v-model="email"
                    :rules="emailRules"
                    label="Adresse mél"
                    outlined
                    required
            ></v-text-field>

            <v-text-field
                    width="5em"
                    clearable
                    counter
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    label="Mot de passe"
                    outlined
                    required
            ></v-text-field>
        </v-form>
            </v-card-text>
        <v-card-actions>
            <v-btn
                    text
                    :disabled="!valid"
                    color="success"
                    :loading="loading"
                    class="mr-2 mx-auto"
                    @click="validate"
            >

                Se connecter
                <v-icon class="ml-2">keyboard_arrow_right</v-icon>
                <template v-slot:loader>
        <span class="custom-loader">
          <v-icon light>cached</v-icon>
        </span>
                </template>
            </v-btn>
        </v-card-actions>
        </v-card>
        <v-snackbar
                v-model="snackbar"
        >
            Erreur lors de la connexion
            <v-btn
                    color="pink"
                    text
                    @click="this.validate()"
            >
                Réessayer
            </v-btn>
        </v-snackbar>
    </v-row>
</template>

<script>
    import Api from "../utils/Api";

    export default {
        name: "connection",
        data: () => ({
            loading: false,
            snackbar:false,
            email: '',
            emailRules: [
                v => !!v || 'Mél requis',
                v => /.+@.+\..+/.test(v) || 'Le mél doit être valide',
            ],
            password: '',
            passwordRules: [
                v => !!v || 'Mot de passe requis'
            ],
            valid: true,
        }),
        methods: {
            validate() {
                this.snackbar = false;
                if (this.$refs.form.validate()) {
                    this.loading = true;
                    Api.getInstance().login(this.email, this.password).then(token => {
                        this.$store.commit('setToken', token);
                        (this.$store.state.accessToken);
                        this.loading = false;
                        this.$router.push('/')
                    }).catch(()=>{
                        this.loading = false;
                        this.snackbar = true;
                    });
                }
            },
        }
    }
</script>

<style scoped>
.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}
@-moz-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    from {
        transform: rotate(0);
        color: #FFFFFF;
    }
    to {
        transform: rotate(360deg);
        color: lawngreen;
    }
}
@-o-keyframes loader {
    from {
        transform: rotate(0);
        color: #FFFFFF;
    }
    to {
        transform: rotate(360deg);
        color: lawngreen;
    }
}
@keyframes loader {
    from {
        transform: rotate(0);
        color: #FFFFFF;
    }
    to {
        transform: rotate(360deg);
        color: lawngreen;
    }
}
</style>
