<template>
    <div>
        <UploadFile :key="restartNumber" v-show="step===1" class="uploadFile" @updatedFile="updateFile"></UploadFile>
        <Informations :key="restartNumber" v-show="step===2" @updatedName="updateName"
                      @updatedDescription="updateDescription" @updatedThemes="updatedThemes"></Informations>
        <Visualisations :key="restartNumber" v-show="step===3"
                        @updatedVisualisations="updateVisualisations"></Visualisations>
        <Columns :key="restartNumber" v-if="step===4"></Columns>
        <Send @restart="restart" v-if="step===5"></Send>
        <div class="buttons">
            <v-btn text :disabled="step<=1" @click="step = step-1">Retour</v-btn>
            <v-btn :disabled="step<=1" @click="sheet=true" text>Annuler</v-btn>
            <v-btn text
                   :disabled="file == null || file[0] == null || (step ==2 && (name==null || description ==null || theme == null || theme.length==0)) || (step == 3 && visualisations.length==0) || step == 5"
                   @click="step = step+1">Suivant
            </v-btn>
        </div>
        <v-bottom-sheet v-model="sheet" inset>
            <v-sheet class="text-center" height="175px">
                <h3 class="pt-10">Êtes-vous sûr de vouloir annuler votre import ?</h3>
                <v-btn class="mt-10 mr-10" text @click="sheet = false">Annuler</v-btn>
                <v-btn class="mt-10" text @click="restart">Valider</v-btn>
            </v-sheet>
        </v-bottom-sheet>
        <v-stepper v-model="step" class="stepper">
            <v-stepper-header>
                <v-stepper-step
                        step="1"
                        :complete="step>1"
                >
                    Choix du fichier a charger
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                        step="2"
                        :complete="step>2"
                >Informations du jeu de données
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                        step="3"
                        :complete="step>3"
                >
                    Visualisations
                </v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step
                        step="4"
                        :complete="step>4"
                >
                    Colonne pivot
                </v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step
                        step="5"
                >
                    Importation
                </v-stepper-step>
            </v-stepper-header>
        </v-stepper>


    </div>
</template>

<script>
    import UploadFile from "@/components/upload/UploadFile.vue";
    import Informations from "@/components/upload/Informations";
    import Visualisations from "@/components/upload/Visualisations"
    import Columns from "@/components/upload/Columns"
    import Send from "@/components/upload/Send"

    export default {
        name: "Create",
        components: {Informations, UploadFile, Visualisations, Columns, Send},
        data() {
            return {
                sheet: false,
                page: 1,
                numberOfPage: 5,
                step: 1,
                file: null,
                name: null,
                description: null,
                theme: null,
                visualisations: [],
                restartNumber: 1
            }
        },
        methods: {
            updateFile(file) {
                this.file = file
            },
            updateName(name) {
                this.name = name
            },
            updateDescription(description) {
                this.description = description
            },
            updatedThemes(theme) {
                this.theme = theme
            },
            updateVisualisations(visualisations) {
                this.visualisations = visualisations
            },
            restart() {
                this.page = 1;
                this.step = 1;
                this.file = null;
                this.name = null;
                this.description = null;
                this.work = null;
                this.visualisations = [];
                this.sheet = false;
                this.restartNumber++;
            }
        }
    }
</script>

<style scoped>
    .pagination {
        position: fixed;
        bottom: 3em;
    }

    .buttons {
        position: fixed;
        bottom: 5em;
        left: 42%;
    }

    .stepper {
        position: fixed;
        bottom: 0;
        left: 12%;
        width: 75%;
    }

    span.v-btn__content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: inherit;
        /*noinspection CssInvalidPropertyValue*/
        display: -webkit-inline-box;
        display: -ms-inline-grid;
        display: block !important;
        -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
        justify-content: inherit;
        line-height: normal;
    }


</style>
