<template>
  <div>
    <div v-if="!lightMode">
      <v-row class="darkTopBackground">
        <v-col class="darkTopText">
          <v-btn class="ml-3 mt-7" color='#a4a6b3' text @click.stop="drawer = !drawer">
            <v-icon class="mr-3">menu</v-icon>Menu
          </v-btn>
        </v-col>
        <v-col lg="6" sm="1" md="6">
          <!--suppress HtmlUnknownTarget -->
          <v-img class="logo mx-auto" src="@/assets/images/logoWhite.svg"></v-img>
        </v-col>
        <v-col class="mt-5 profile" lg="3" >
          <div :ripple="false" text height="4em" class="profileLink" v-if="this.$store.state.user != null && this.$store.state.user !== undefined">
            <div class="btnText nameProfileDarkText mr-2">
              {{this.$store.state.user.firstname}} {{this.$store.state.user.lastname}}
              <p class="roleProfileDarkText">{{this.$store.state.user.role}}</p>
            </div>
            <v-icon class="profileLogo" size="3em" color="#04DAFE">account_circle</v-icon>
          </div>
        </v-col>
      </v-row>

      <v-navigation-drawer v-model="drawer" width="315" temporary app class="darkBackground">
        <!--suppress HtmlUnknownTarget -->
        <v-img class="marginLeft mt-3" width="10em" src="@/assets/images/logoWhite.svg"></v-img>
        <router-link to="/">
          <v-btn class="darkText mt-6" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">dashboard</v-icon>Tableau de bord
          </v-btn>
        </router-link>
        <router-link to="/catalogue">
          <v-btn class="darkText" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">apps</v-icon>Catalogue
          </v-btn>
        </router-link>
        <router-link to="/">
          <v-btn class="darkText" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">how_to_reg</v-icon>Mes données
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <h4 class="darkTitle">Référent Métier</h4>
        <router-link to="/">
          <v-btn class="darkText" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">done</v-icon>Validation
          </v-btn>
        </router-link>
        <router-link to="/creation">
          <v-btn class="darkText" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">post_add</v-icon>Envoyer
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <h4 class="darkTitle">Administrateur</h4>
        <router-link to="/">
          <v-btn class="darkText" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">settings_applications</v-icon>Administration
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <router-link to="/login" v-if="!$store.state.accessToken">
          <v-btn class="darkText mt-4" height="4em" text block>
            <v-icon class="mr-7 ml-2 darkIcons">power_settings_new</v-icon>Se connecter
          </v-btn>
        </router-link>
        <v-btn v-if="$store.state.accessToken" class="darkText mt-4" height="4em" text block @click="logOut">
          <v-icon class="mr-7 ml-2 darkIcons">power_settings_new</v-icon>Se déconnecter
        </v-btn>
        <v-btn class="darkText colorButton" height="4em" text block v-if="!lightMode" @click="lightMode = !lightMode" type="button">
          <v-icon class="mr-7 ml-2 darkIcons">invert_colors</v-icon>Mode Clair</v-btn>
      </v-navigation-drawer>
    </div>
    <div v-if="lightMode">
      <v-row class="lightTopBackground">
        <v-col>
          <v-btn class="ml-3 mt-3 lightTopText" text @click.stop="drawer = !drawer">
            <v-icon class="mr-3">menu</v-icon>Menu
          </v-btn>
        </v-col>
        <v-col lg="6" sm="1" md="6">
          <v-img class="logo mx-auto" src="@/assets/images/logoBlack.svg"></v-img>
        </v-col>
        <v-col class="mt-5 profile" lg="3">
          <div class="profileLink" v-if="this.$store.state.user != null && this.$store.state.user !== undefined">
            <div class="btnText nameProfileLightText mr-2">
              {{this.$store.state.user.firstname}} FOUCAUD
              <p class="roleProfileLightText">Administrateur</p>
            </div>
            <v-icon class="profileLogo" size="3em" color="#4481EB">account_circle</v-icon>
          </div>
        </v-col>
      </v-row>

      <v-navigation-drawer v-model="drawer" width="315" temporary app class="lightBackground">
        <v-img class="marginLeft mt-3" width="10em" src="@/assets/images/logoBlack.svg"></v-img>
        <router-link to="/">
          <v-btn class="lightText mt-6" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">dashboard</v-icon>Tableau de bord
          </v-btn>
        </router-link>
        <router-link to="/catalogue">
          <v-btn class="lightText" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">apps</v-icon>Catalogue
          </v-btn>
        </router-link>
        <router-link to="/">
          <v-btn class="lightText" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">how_to_reg</v-icon>Mes données
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <h4 class="lightTitle">Référent Métier</h4>
        <router-link to="/">
          <v-btn class="lightText" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">done</v-icon>Validation
          </v-btn>
        </router-link>
        <router-link to="/creation">
          <v-btn class="lightText" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">post_add</v-icon>Envoyer
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <h4 class="lightTitle">Administrateur</h4>
        <router-link to="/">
          <v-btn class="lightText" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">settings_applications</v-icon>Administration
          </v-btn>
        </router-link>
        <v-divider class="mt-6"></v-divider>
        <router-link to="/login" v-if="!$store.state.accessToken">
          <v-btn class="lightText mt-4" height="4em" text block>
            <v-icon class="mr-7 ml-2 lightIcons">power_settings_new</v-icon>Se connecter
          </v-btn>
        </router-link>
        <v-btn v-if="$store.state.accessToken" class="lightText mt-4" height="4em" text block @click="logOut">
          <v-icon class="mr-7 ml-2 lightIcons">power_settings_new</v-icon>Se déconnecter
        </v-btn>
        <v-btn class="lightText colorButton" height="4em" text block v-if="lightMode" @click="lightMode = !lightMode" type="button">
          <v-icon class="mr-7 ml-2 lightIcons">invert_colors</v-icon>Mode Sombre</v-btn>
      </v-navigation-drawer>
    </div>
  </div>
</template>


<script>
export default {
  name: "Navbar",
  data() {
    return {
      drawer: false,
      lightMode: false
    };
  },
  methods: {
    logOut() {
      this.$store.commit("emptyToken");
      this.$router.push('/login')
    }
  }
};
</script>

<style scoped>
/**  Classes pour la navbar horizontal **/
.textSelected {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px !important;
  color: #c0c2d4 !important;
  justify-content: start;
  text-decoration: unset !important;
  text-transform: unset !important;
  border-left: solid #04dafe;
  border-radius: 0px;
}

.colorButton{
  position: fixed;
  bottom: 1em;
  left: 0;
}

.categoryName{
  font-weight: bolder;
}


/** Thème LIGHT **/
.lightText {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 20px;
  color: #777986 !important;
  justify-content: start;
  text-decoration: unset !important;
  text-transform: unset !important;
  opacity: 1;
}

.lightText:hover {
  border-left: solid #04dafe;
  border-radius: 0px;
  font-weight: bold;
  background: #0005e6;
  color: #dde2ff !important;
}

.lightText.icons:hover {
  opacity: 1 !important;
}

.lightBackground {
  background-color: #ffffff !important;
  box-shadow: 9px 4px 24px rgba(0, 0, 0, 0.25);
}

.lightTitle {
  color: #777986 !important;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.lightIcons {
  color: #c9c9cf !important;
}

.lightIcons:hover {
  color: #dde2ff;
}

.nameProfileLightText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  overflow: fragments;
  max-width: 8em;
  max-height: 4em;
  color: #0005e6;
  mix-blend-mode: normal;

  text-align: right;
  letter-spacing: 0.15px;
}

.roleProfileLightText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;

  text-align: right;
  letter-spacing: 0.25px;

  color: rgba(44, 47, 51, 0.83);
}

.lightTopBackground {
  background: #FAFAFA;
}

.lightTopText {
  color: #a4a6b3;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/** Thème DARK **/
.darkText {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  color: #a4a6b3 !important;
  justify-content: start;
  text-decoration: unset !important;
  text-transform: unset !important;
  opacity: 1;
}

.darkText:hover {
  border-left: solid #04dafe;
  border-radius: 0px;
  font-weight: bold;
  background: #353642 !important;
  color: #dde2ff !important;
}

.darkTitle {
  color: #a4a6b3 !important;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.darkIcons {
  color: #585a68 !important;
}

.darkIcons:hover {
  color: #dadada !important;
}

.darkBackground {
  background: #292a35 !important;
}

.nameProfileDarkText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  overflow: fragments;
  max-width: 8em;
  max-height: 4em;
  color: #04dafe;
  mix-blend-mode: normal;

  text-align: right;
  letter-spacing: 0.15px;
}

.roleProfileDarkText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;

  text-align: right;
  letter-spacing: 0.25px;

  color: rgba(164, 166, 179, 0.83);
}

.darkTopBackground {
  background: #292a35;
}

.darkTopText {
  color: #a4a6b3 !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/** Classes pour les deux thèmes **/
.icons {
  opacity: 0.4;
}

.profile {
  padding-left: 2em !important;
}

.marginLeft {
  margin-left: 5em;
}

.logo {
  width: 10em !important;
  align-content: center;
}

@media (max-width: 600px) {
  .profileLogo {
    display: none !important;
  }
}


@media (min-width: 1285px) {
  .profileLink {
    margin-left: 8em !important;
  }
}

.profileLogo {
  display: inline-block;
  position: relative;
  transform: translateY(-20%);
}

.btnText {
  vertical-align: middle;
  display: inline-block;
}
</style>
