<template>
    <v-select
            :items="colorThemes"
            label="Sélectionnez le thème"
            :rules="rules"
            v-on:change="updateValue"
    >
        <template v-slot:selection="data">
            <template >
                <v-icon v-for="color in data.item.colors" :key="color" :color="color">
                    mdi-square
                </v-icon>
                <v-list-item-content>
                    <v-list-item-title v-html="data.item.name" class="ml-5"></v-list-item-title>
                </v-list-item-content>
            </template>
        </template>
        <template v-slot:item="data">
            <template >
                <v-icon v-for="color in data.item.colors" :key="color" :color="color">
                    mdi-square
                </v-icon>
                <v-list-item-content>
                    <v-list-item-title v-html="data.item.name" class="ml-5"></v-list-item-title>
                </v-list-item-content>
            </template>
        </template>
    </v-select>
</template>

<script>
    import {ColorTheme} from "../../utils/ColorUtils";

    export default {
        name: "ColorsPicker",
        props: {
            rules: {
                type: Array,
                required: true
            }
        },
        data: () => {
            return {
                colorThemes: ColorTheme.themes,
            }
        },
        methods: {
            updateValue: function (value) {
                this.$emit('colors', value)
            },
        }
    }
</script>

<style scoped>

</style>


