<template>
    <div>
        <v-select
                v-if="Object.keys(dateColumns).length > 1"
                :items="Object.keys(dateColumns)"
                label="Sélectionnez la colonne date à utiliser"
                :rules="rules"
                v-model="dateDataset"
                v-on:change="updateValue"
        >
        </v-select>
        <v-select
                v-if="dateDataset !== ''"
                :items="dateColumns[dateDataset]"
                label="Sélectionnez la colonne date à utiliser"
                :rules="rules"
                v-model="dateCol"
                v-on:change="updateValue"
        >
        </v-select>
        <v-date-picker
                v-model="dates"
                range
                first-day-of-week="1"
                locale="fr"
                no-title
                class="mx-auto"
                v-on:change="updateValue"
        ></v-date-picker>
        <v-menu
                ref="startMenu"
                v-model="startMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="startHour"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                        v-model="startHour"
                        label="Heure de début"
                        prepend-icon="access_time"
                        readonly
                        v-on="on"
                ></v-text-field>
            </template>
            <v-time-picker
                    v-if="startMenu"
                    v-model="startHour"
                    full-width
                    @click:minute="() => {$refs.startMenu.save(startHour);updateValue()}"
                    :max="endHour"
                    format="24hr"
                    dark
            ></v-time-picker>
        </v-menu>
        <v-menu
                ref="endMenu"
                v-model="endMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="endHour"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                        v-model="endHour"
                        label="Heure de fin"
                        prepend-icon="access_time"
                        readonly
                        v-on="on"
                ></v-text-field>
            </template>
            <v-time-picker
                    v-if="endMenu"
                    v-model="endHour"
                    full-width
                    @click:minute="() => {$refs.endMenu.save(endHour);updateValue()}"
                    :min="startHour"
                    format="24hr"
                    dark
            ></v-time-picker>
        </v-menu>
        <v-row class="mx-auto">
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=1></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=2></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=3></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=4></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=5></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=6></v-checkbox>
            <v-checkbox class="mx-auto" v-on:change="updateValue" v-model="weekdays" value=7></v-checkbox>
        </v-row>
        <v-row class="mx-auto white--text">
            <span class="mx-auto">L</span>
            <span class="mx-auto">M</span>
            <span class="mx-auto">M</span>
            <span class="mx-auto">J</span>
            <span class="mx-auto">V</span>
            <span class="mx-auto">S</span>
            <span class="mx-auto">D</span>
        </v-row>

    </div>
</template>

<script>
    export default {
        name: "DatePicker",
        props: {
            dateColumns: {
                type: Array,
                required: true
            },
            rules: {
                type: Array,
                required: true
            }
        },
        data: () => {
            return {
                dateDataset: "",
                startMenu: false,
                endMenu: false,
                dateCol: null,
                dates: [],
                startHour: null,
                endHour: null,
                weekdays: []
            }
        },

        mounted() {
            this.$nextTick(() => {
                this.checkIfOnlyOneDataset();
            })
        },

        methods: {
            checkIfOnlyOneDataset() {
                if (Object.getOwnPropertyNames(this.dateColumns).length === 3) {
                    this.dateDataset = Object.getOwnPropertyNames(this.dateColumns)[2];
                }
            },

            updateValue: function() {
                let dateFilter = new DateFilter();
                dateFilter.dateCol = {dataset: this.dateDataset, column: this.dateCol};
                dateFilter.dates = this.dates;
                dateFilter.weekdays = this.weekdays;
                this.$emit('dateFilter', dateFilter);
            }
        }
    }
    export class DateFilter {
        dateCol= null;
        dates= [];
        startHour= null;
        endHour= null;
        weekdays= [];
    }
</script>

<style scoped>

</style>
